<div class="content__block">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Пункт</th>
          <th>Правило</th>
          <th>Наказание</th>
          <th>Срок</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.01 (Взлом сервера)</td>
          <td>Попытки взлома сервера/сайта, попытки навредить серверу/сайту</td>
          <td>Черный список</td>
          <td>Навсегда</td>
        </tr>
        <tr>
          <td>1.02 (Софт/читы)</td>
          <td>Запрещено использовать любые сторонние программы, которые позволяют вам получить превосходство над другими
            игроками (программное обеспечение, читы, скрипты, протекторы и т.д.)</td>
          <td>Бан</td>
          <td>1 месяц</td>
        </tr>
        <tr>
          <td>1.03 (Обход)</td>
          <td>Обход бана или мута</td>
          <td>Бан</td>
          <td>1 месяц / навсегда</td>
        </tr>
        <tr>
          <td>1.04 (Пинг)</td>
          <td>Вы можете быть забанены за высокий пинг и нестабильное интернет-соединение (лаги)</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>1.05 (Смени ник)</td>
          <td>Плагиат чужих ников, клановых тегов (официально зарегистрированных в нашей группе). Также
            запрещены ники, содержащие оскорбления в адрес игроков, администрации, сервера</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>1.06 (Рецидив / Черный список)</td>
          <td>В случае систематических нарушений правил к вам могут быть применены более жесткие наказания на усмотрение
            администрации.</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>2.01 (Блок)</td>
          <td>Запрещено подпирать, блокировать других игроков, вход в нычку имеет больший приоритет, чем выход из неё,
            вы не обязаны никого выпускать из нычки. Также запрещено блокировать вертолёты, лифты, двери, ворота и т.д.
            Запрещено мешать делать подсадки, залезать на голову другим игрокам мешая им двигаться/стрелять если
            нет цели залезть выше</td>
          <td>Бан</td>
          <td>1 сутки</td>
        </tr>
        <tr>
          <td>2.02 (Слив)</td>
          <td>Если вас заразили через окна, щели, стекла, за голову при подпрыгивании в нычке и т.д, Вы будете также
            забанены за слив</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>2.03 (Ящик/Доски/Камни)</td>
          <td>Запрещено ломать ящики, доски, камни и т.д. под/перед людьми
            если зомби не лезут на них/не бегут к ним. Разрешено первому инфицированному человеку
          </td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>2.04 (Роль зомби/человека/АФК)</td>
          <td>Запрещено не исполнение роли зомби либо человека / тимплей зомби и человека (не заражение или пассивное
            поведение), если только вы не единственный зомби или у вас низкий показатель здоровья. Быть АФК, давать
            умышленно себя убить/заразить также запрещено</td>
          <td>Бан</td>
          <td>15 минут / 1 сутки</td>
        </tr>
        <tr>
          <td>2.05 (Реконнект/Лив)</td>
          <td>Запрещено выходить с сервера либо делать реконнект до конца раунда</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>2.06 (Нож)</td>
          <td>При неудачной попытке зарезать зомби, вы обязаны заразить людей, которые были рядом с вами и доиграть
            раунд до конца, после чего вы будете забанены по причине 'Слив с ножом'</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>2.07 (Подстава)</td>
          <td>Запрещено толкать зомби на людей с помощью оружия/ножа. Вы обязаны ждать в лифте товарищей по
            команде, убегающих от зомби/догоняющих людей. Запрещено сталкивать игроков откуда-либо</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>2.08 (Хитрый афк)</td>
          <td>Зомби разрешается притворяться афк, если есть намерение кого-то заразить.</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>2.9 (Пулемет)</td>
          <td>Запрещено мешать тому, кто первым захватил турель (стационарный пулемет)</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
        <tr>
          <td>3.01 (Русс/Англ)</td>
          <td>Общение на сервере разрешено только на русском и английском языках</td>
          <td>Мут</td>
          <td>На усмотрение администрации</td>
        </tr>
        <tr>
          <td>3.02 (Провокации)</td>
          <td>Запрещено высказываться от лица администрации, призывать к нарушению правил, обсуждать действия
            администрациии, сеять этническую, религиозную рознь и т.п</td>
          <td>Мут / Бан</td>
          <td>Неделя / Месяц / Навсегда</td>
        </tr>
        <tr>
          <td>3.03 (Оскорбления, клевета)</td>
          <td>Запрещено любое оскорбление и унижение человеческого достоинства, издевательство, клевета, не адекватное
            поведение. Оскорбление администрации сервера и самого сервера на сервере, в группе и т.д.</td>
          <td>Мут / Бан</td>
          <td>Неделя / Месяц / Навсегда</td>
        </tr>
        <tr>
          <td>3.04 (Реклама/Спам/Флуд)</td>
          <td>Запрещена любая реклама, спам ,излишний флуд</td>
          <td>Мут / Бан</td>
          <td>Неделя / Месяц / Навсегда</td>
        </tr>
        <tr>
          <td>3.05 (Мониторинг)</td>
          <td>Если вы будучи живым не знали местоположение игроков, то запрещается выдавать его другим когда вы мертвы
            или в наблюдении.</td>
          <td>Мут / Бан</td>
          <td>1 час / сутки</td>
        </tr>
        <tr>
          <td>3.06 (Микрофон)</td>
          <td>Неисправный микрофон, посторонние или излишне громкие звуки .</td>
          <td>Мут / Вечный мут</td>
        </tr>
        <tr>
          <td>4.01</td>
          <td>Все правила сервера должны соблюдаться в первую очередь випами и админами, вип/админ привилегии не дают
            право нарушать какой-либо подпункт правил, так как администрация это пример для игроков и лицо сервера.</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.02</td>
          <td>Всегда идите навстречу игроку, если вас просят проследить за подозрительным субъектом на сервере</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.03</td>
          <td>По просьбе игрока вы обязаны указать причину наказания (кик, слэй, перевод в наблюдение)</td>
          <td>Предупреждение/отключение привилегии</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.04</td>
          <td>В причине бана обязательно указывать точную формулировку - почему данный игрок был забанен</td>
          <td>Отключение привилегии</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.05</td>
          <td>Запрещено снимать чужой мут, то есть выданный другим админом .</td>
          <td>Отключение привилегии</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.06</td>
          <td>Применять любые наказания только в случае, когда вы точно уверены, что игрок нарушил правила или по
            просьбе 2 и более свидетелей</td>
          <td>Отключение привилегии</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.07</td>
          <td>При получении заявки на разбан в группе от игрока, которого вы наказали, админ обязан САМ рассмотреть
            заявку в КРАТЧАЙШИЙ СРОК, если ситуация спорная, заявку рассмотрят администраторы. При игнорировании
            заявки - отключение привилегии</td>
          <td>Отключение привилегии</td>
          <td>-</td>
        </tr>
        <tr>
          <td>4.08 (Ложный репорт)</td>
          <td>Ложный репорт на игрока, будет приравниваться к правилу '3.03 (Клевета)' при этом наказание будет более
            строгое, чем в правиле 3.03</td>
          <td>Бан</td>
          <td>Сутки</td>
        </tr>
        <tr>
          <td>4.09 (Двери/платформы/решетки)</td>
          <td>Запрещено открывать двери, поднимать платформы/бить решетки если вы человек, а за ними зомби и напротив
            закрывать двери, поднимать платформы от людей, если вы человек, а за ними зомби</td>
          <td>Бан</td>
          <td>15 минут</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>